.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.film {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(195, 195, 218);
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(48, 47, 47);
}

.badge {
    background-color: blue;
    color: white;
    padding: 12px;
    margin-right: 10px;
    width: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box {
    background-color: gray;
    font-size: 16px;
    font-weight: bold;
}

